*
{  
    color: #d6cfc2;
    font-family: 'Libre Baskerville', 'Georgia', serif;
   
}
h1
{
    color: #d6cfc2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
#subtitulo
{
    font-size: 19px;
    color: #d6cfc2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
h2
{
    color: #d6cfc2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
header
{
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    /* backdrop-filter: blur(10px); */
   
    background-color: rgba(48, 29, 17, 0.5);
    padding: 1px; 
    border-radius: 10px;
    
}
#formularioLibro
{
    color: #d6cfc2;
    
}
.container
{
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    font-size: 17px;
}
footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px; 
    border-radius: 10px;
    
    backdrop-filter: blur(10px);
}
#footer
{
    font-size: 15px;
}
body
{
    background-image: url("https://df5kbf1hky40.cloudfront.net/media/library_center/hero-image/2019/03/20190326165931.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}